# Don't track content of these folders
model/__pycache__/
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Untitled.ipynb
model/.ipynb_checkpoints/__main__-checkpoint.py
output/f_test.csv
output/o_test.csv
