# Don't track content of these folders
.vscode/**
.vs/**
output/**
**/__pycache__/**
**/input/**
**/ipynb_checkpoints/**


LDH_Task_LD_LF_121219_process.ipynb
LDH_Task_LD_LF_121219.xlsx
output.zip
processed_LDH_121219.csv
test_set.csv
test_notes_0304.txt
