[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
debugpy = "*"
pytest = "*"
autopep8 = "*"
jupyterlab = "*"
jupyterlab-kite = ">=2.0.2"
jedi = "<0.18.0"

[packages]
numpy = "*"
pandas = "*"
textblob = "*"
xlrd = "*"
openpyxl = "*"
nltk = "*"
datasets = "*"
transformers = "*"
sklearn = "*"
torch = "*"
matplotlib = "*"
ipykernel = "*"
jupyter = "*"

[requires]
python_version = "3.8"
