[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
jupyter = "*"
debugpy = "*"
pytest = "*"
autopep8 = "*"

[packages]
numpy = "*"
pandas = "*"
textblob = "*"
xlrd = "*"
openpyxl = "*"
nltk = "*"
datasets = "*"
transformers = "*"
sklearn = "*"
torch = "*"

[requires]
python_version = "3.8"
